.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 0 solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.main-color {
    background-color: grey;
    color: white;
}

.body {
    background-color: #f1c8d0;
}

.col-xs-3 > dd > a {
    color: #fff;
}
.col-xs-3 > dd {
    color: #fff;
    padding: 1px 1px;
}

.header-img-padding {
    padding-top: 50px;
}

.col-xs-3 > dt {
    color: white;
    font-family: 'Times New Roman', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 18px;
    padding: 15px 3px 5px 3px;
}

.copyright {
    text-align: center;
    font-size: 10px;
}