<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html {% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}" {% endif %}>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <title>{% block bootstrap3_title %} {{ webname }} {% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link href=" {% static "css/style.css" %} " type="text/css" rel="stylesheet">
    {% if 'javascript_in_head'|bootstrap_setting %} {% bootstrap_javascript jquery=True %} {% endif %}
    {% block bootstrap3_extra_head %} {% endblock %}

</head>

<body style="padding: 0; margin: auto;">
{% block top_nav %}
    {% include "top_nav.html" %}
{% endblock %}

{% block index_banner %}
{% endblock %}

<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        {% block sider_nav %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    </div>
    <div class="clearfix">

    </div>
</div>

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

<script>
{#    $('.dropdown-toggle').dropdown();#}
    $('.dropdown-toggle').navbutton_vert_hovered();
</script>
</body>
</html>